@charset "utf-8";
@import "base.css";
@import "common.css";
@import "remommend.css";
.commonheader{position: fixed; width: 100%; z-index: 9999}
.section{
	text-align: center;
	color:#fff;
	font-size: 24px;
	h3{
		font-size: 40px;
	}
}
/**
 * 七夕页面
 */
#love-content{
	width: 60%;
	height: 60%;
	top: 20%;
	left: 20%;
	overflow: hidden;
	position: absolute;
	border: 1px #ccc solid;
	.love-content-warp{
		position: relative;
		height: 100%;
		li{
			width: 100%;
			height: 100%;
			background:#cae1ff;
			color: red;
			float: left;
			overflow: hidden;
			position: relative;
		}
		li:nth-child(2){
			background:#9bcd9b;
		}
		li:nth-child(3){
			background:yellow;
		}
	}
	.button{
		width: 100px;
		height: 50px;
	}
	.charector{
		width: 151px;
		height: 291px;
		background:url(http://img.mukewang.com/55ade248000198ae10550582.png) -0px -291px no-repeat;
		position: absolute;
		left:6%;
		top: 55%;
	}

}