header.commonheader {
  background: #323a45;
  height: 70px;
  border-bottom: 3px #4bc8b6 solid;
}

.w1000 {
  width: 1000px;
  margin: 0 auto;
}

nav a {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  color: #fff;
  font-size: 18px;
  padding: 0 30px;
}
nav a:hover, nav a:active {
  background: #4bc8b6;
  color: #fff;
}

#proList {
  margin-top: 20px;
}
#proList li {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px #dbdbdb dashed;
  transition: 1s;
  transform: all;
  padding: 10px;
}
#proList li .data {
  float: right;
  color: #666;
  font-size: 14px;
}
#proList li:hover {
  background: #4bc8b6;
}
#proList li:hover a {
  color: #fff;
}
#proList li:hover .data {
  color: #fff;
}
